#container-choose-campus {
	text-align: center;
	margin: 10px 0;
	.styled-select {
		width: 200px;
		display: inline-block;
	}
	#label-choose-campus {
		line-height: 28px;
    	vertical-align: top;
    	margin-right: 8px;
	}
}