/*.icon {
	display: inline-block;
    vertical-align: text-bottom;
    width: 20px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: opacity 0.5s;
    &:disabled {
    	opacity: 0.5;
    }
}

.icon-accessible-parking {
	background-image: url('../../icons/accessible-parking.svg');
}

.icon-accessible-van {
	background-image: url('../../icons/accessible-van.svg');
}

.icon-accessible-auto-doors {
	background-image: url('../../icons/accessible-automatic.svg');
}

.icon-accessible-manual-doors {
	background-image: url('../../icons/accessible-manual.svg');
}

.icon-accessible-routes {
	background-image: url('../../icons/accessible-parking.svg');
}

.icon-accessible-impassible {
	background-image: url('../../icons/accessible-parking.svg');
}

.icon-accessible-curb-cuts {
    background-image: url('../../icons/accessible-curb-cuts.svg');
}

.icon-accessible-lifts {
	background-image: url('../../icons/accessible-parking.svg');
}

*/