.feature-row {
	padding-left: 5px;
    margin: 7px 10px;
    .feature {
    	input[type=checkbox] {
	    	position: absolute;
	    	left: -9999px;

	    	&:checked {
	    		& + .checkbox {
	    			border-color: #003f87;
	    			background-image: url('../../icons/checkmark.png');
	    			background-size: 100% 100%;
	    			background-repeat: no-repeat;
	    		}
	    		& ~ .feature-label {
	    			color: #003f87;
	    		}
	    	}
	    }
	    &:hover {
	    	.checkbox {
	    		border-color: #003f87;
	    	}
	    	.feature-label {
	    		color: #003f87;
	    	}
	    }
	    .checkbox {
	    	display: inline-block;
		    vertical-align: top;
		    height: 16px;
		    width: 16px;
		    margin-left: 12px;
		    box-sizing: border-box;
		    border: 1px solid #c2c3c6;
		    transition: border-color 0.4s;
		    background: #ffffff;
		    cursor: pointer;
	    }
	    .feature-label {
	    	margin-left: 8px;
	    	font-size: 16px;
	    	cursor: pointer;
	    	color: rgb(144, 148, 151);
	    	transition: color 0.4s;
	    	user-select: none;
	    }
    }
    .legend {
    	margin-left: 50px;
    	font-size: 16px;
	    margin-top: 6px;
	    overflow: hidden;
	    transition-duration: 0.5s;
	    &[data-open="false"] {
	    	max-height: 0;
	    }
	    &[data-open="true"] {
	    	max-height: 400px;
	    }
    }
}