#sidebar {
    button {
        padding: 8px 28px;
        font-size: 15px;
        border-radius: 40px;
        text-transform: none;
        color: #1c75b3;
        font-weight: 600;
        letter-spacing: 0;
        background-color: rgba(39, 131, 195, 0.1);
        transition: background-color 0.3s;
        border: none;
        margin-bottom: 15px;
    }
}
