#header {
	background-color: #003f87;
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    #logo {
    	a {
    	    float: left;
		    width: 280px;
		    background: url(https://www.wwu.edu/sites/all/themes/wwuzen-home/images/wwuhorizlogo.svg) no-repeat;
		    background-size: 270px;
		    height: 60px;
		    text-indent: -999em;
		}
    }
}