#search-bar {
	position: absolute;
	right: 10px;
	input {
		display: block;
	    height: 24px;
	    width: 225px;
	    padding: 6px 26px 6px 12px;
	    font-size: 17px;
	    line-height: 1.7;
	    margin-right: 10px;
	    margin-top: 11px;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	    
	}
	.close {
	    	position: absolute;
		    right: 16px;
		    font-size: 23px;
		    top: 17.5px;
		    content: "\F00D";
		    font-family: FontAwesome;
		    color: #9d9c9c;
		    cursor: pointer;
		}
}