#floor-select {
    position: absolute;
    right: 10px;
    bottom: 24px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px;
    border: 1px solid rgba(0, 0, 0, 0.0980392);

    .floorbutton {
        display: block;
        height: 26px;
        width: 26px;
        background-color: rgb(249,249,249);
        text-align: center;
        margin: 0;
        padding: 0;
        color: #7f7f7f;
        border: 0;
        outline: 0;
        line-height: 20px;
        opacity: 0.95;
        transition: background-color 0.16s ease-out;
        cursor: pointer;
        &:hover {
            background-color: white;
            color: black;
            font-weight: bold;
            opacity: 1;
        }
        &[data-current=true] {
            background-color: white;
            color: black;
            font-weight: bold;
            opacity: 1;
        }
    }
}