@import "sprites/sprite.less";
@import "sprites/icons.less";

.icon {
    display: inline-block;
    vertical-align: bottom;
    transform: scale(0.9);
    transition: opacity 0.5s;
    &:disabled {
        opacity: 0.5;
    }
}


body {
    font-family: Muli, Verdana, sans-serif;
    font-size: 13px;
}

/* Helpers */

.hidden {
    display: none;
}

.styled-select {
  @height: 28px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: @height;
  border-radius: 4px;
  border: 1px solid #d5d8db;
  box-sizing: border-box;
  background: #fff;
  color: #666;
  box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.4), 0px 2px 1px rgba(7, 30, 40, 0.05);
  cursor: pointer;
  select {
    background: transparent;
    width: ~"calc(100% + 20px)";
    min-width: 75px;
    padding-left: 20px;
    font-size: 13px;
    border: 0;
    border-radius: 0;
    height: (@height - 2px);
    outline: 0;
    -webkit-appearance: none;
    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }
  }
  &.focus {
    border: 1px solid blue;
      box-shadow: 0 2px rgba(7, 182, 220, 0.2);
  }
  &:after {
    position: absolute;
      right: 3px;
      top: (@height / 2) - 6.5;
      content: "\f0d7";
      display: block;
      margin-right: 2px;
      font-family: FontAwesome;
      color: #666;
      pointer-events: none;
  }
}

/* End Helpers */

#container {
    position: absolute;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}