<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>Campus Map | Western Washington University</title>

  {{#each htmlWebpackPlugin.files.css}}
    <link rel="stylesheet" href="{{htmlWebpackPlugin.options.path}}{{this}}" />
  {{/each}}
</head>
<body>
  <div id="app"></div>

  {{#each htmlWebpackPlugin.files.js}}
    <script type="text/javascript" src="{{htmlWebpackPlugin.options.path}}{{this}}"></script>
  {{/each}}
</body>
</html>