.icon-accessible-automatic {
.retina-sprite(@accessible-automatic-group)
}

.icon-accessible-curb-cuts {
.retina-sprite(@accessible-curb-cuts-group)
}

.icon-accessible-impassible {
.retina-sprite(@accessible-impassible-group)
}

.icon-accessible-lifts {
.retina-sprite(@accessible-lifts-group)
}

.icon-accessible-manual {
.retina-sprite(@accessible-manual-group)
}

.icon-accessible-parking {
.retina-sprite(@accessible-parking-group)
}

.icon-accessible-route {
.retina-sprite(@accessible-route-group)
}

.icon-accessible-van {
.retina-sprite(@accessible-van-group)
}

.icon-construction-area {
.retina-sprite(@construction-area-group)
}

.icon-construction-point {
.retina-sprite(@construction-point-group)
}

.icon-fa-wheelchair {
.retina-sprite(@fa-wheelchair-group)
}

.icon-floorplans-classroom {
.retina-sprite(@floorplans-classroom-group)
}

.icon-floorplans-office {
.retina-sprite(@floorplans-office-group)
}

.icon-food-residential {
.retina-sprite(@food-residential-group)
}

.icon-food-retail {
.retina-sprite(@food-retail-group)
}

.icon-parking-campus-services {
.retina-sprite(@parking-campus-services-group)
}

.icon-parking-faculty {
.retina-sprite(@parking-faculty-group)
}

.icon-parking-pay {
.retina-sprite(@parking-pay-group)
}

.icon-parking-residents {
.retina-sprite(@parking-residents-group)
}

.icon-parking-restricted {
.retina-sprite(@parking-restricted-group)
}

.icon-parking-student-commuter {
.retina-sprite(@parking-student-commuter-group)
}

.icon-pattern-forest {
.retina-sprite(@pattern-forest-group)
}

.icon-pattern-plantings {
.retina-sprite(@pattern-plantings-group)
}

.icon-safety-campus-police {
.retina-sprite(@safety-campus-police-group)
}

.icon-safety-courtesy-phone {
.retina-sprite(@safety-courtesy-phone-group)
}

.icon-safety-emergency-phone {
.retina-sprite(@safety-emergency-phone-group)
}

.icon-safety-lighted-walkway {
.retina-sprite(@safety-lighted-walkway-group)
}

.icon-safety-major-disaster-assembly-area {
.retina-sprite(@safety-major-disaster-assembly-area-group)
}

.icon-sustainability-features {
.retina-sprite(@sustainability-features-group)
}

.icon-sustainability-leed-building {
.retina-sprite(@sustainability-leed-building-group)
}

.icon-tech-computer-help {
.retina-sprite(@tech-computer-help-group)
}

.icon-tech-computer-lab {
.retina-sprite(@tech-computer-lab-group)
}

.icon-tech-restek-lab {
.retina-sprite(@tech-restek-lab-group)
}

.icon-tech-wifi {
.retina-sprite(@tech-wifi-group)
}

.icon-transportation-bike-racks {
.retina-sprite(@transportation-bike-racks-group)
}

.icon-transportation-bike-repair {
.retina-sprite(@transportation-bike-repair-group)
}

.icon-transportation-bike-routes {
.retina-sprite(@transportation-bike-routes-group)
}

.icon-transportation-bike-walk-zones {
.retina-sprite(@transportation-bike-walk-zones-group)
}

.icon-transportation-late-night-route {
.retina-sprite(@transportation-late-night-route-group)
}

.icon-transportation-late-night-stop {
.retina-sprite(@transportation-late-night-stop-group)
}

.icon-transportation-wta-routes {
.retina-sprite(@transportation-wta-routes-group)
}

.icon-transportation-wta-stop {
.retina-sprite(@transportation-wta-stop-group)
}

